$red: rgba(255, 0, 0, 1);

* { box-sizing: border-box; }

h1, h2 {
  color: darkorange;
}

body {
  background: #eee;
  font-family: sans-serif;
  color: "#444";
}

.board-container {
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  padding: 24px;
  background: orange;
}

.board {
  padding: 16px;
  min-width: 250px;
  margin: 0 24px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, .11);
}
